<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input formControlName="email" type="email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
    <small  class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="password" class="form-control"  placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password2">Confirm password</label>
    <input formControlName="password2" type="password" class="form-control"  placeholder="Confirm password">
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || password.invalid || password2.invalid || (password.value != password2.value) ">Submit</button>
</form>
